header {
    display: grid;
    grid-template-areas: "zona-logo  zona-hamburguesa    zona-botones";
    grid-template-rows: 1fr auto auto;
}

.zona-logo {
    grid-area: zona-logo;
}

.zona-logo>a>img {
    height: 40%;
    width: 40%;
}

.zona-botones {
    grid-area: zona-botones;
}

.zona-hamburguesa {
    grid-area: zona-hamburguesa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburguesa-label, .hamburguesa-checkbox {
    display: none;
}

/* .gestionar-submenu {
    display: block;
} */

nav {
    position: static;
    align-items: center;
    line-height: 0;
    height: 100%;
    width: 90%;
    padding: 2%;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-flow: row;
    margin-right: auto;
}

nav ul li {
    padding-top: 2%;
    margin-right: 5%;
}

.gestionar-submenu {
    display: none;
    position: absolute;
    width: 15%;
    height: 20%;
    top: 7%;
    left: 35%;
}

.gestionar-submenu>li a {
    line-height: 30px;
}

/*Quienes Somos*/

#tagDivPanorama {
    top: 300px;
}

/*Texto Inicial*/

.Bienvenidos {
    display: grid;
    grid-template-areas: "h1 h1" "metodo genius";
}

.Bienvenidos h1 {
    grid-area: h1;
    padding: 5%;
    text-align: center;
    text-align: center;
    padding: 5%;
}

.Bienvenidos .metodo {
    grid-area: metodo;
    padding-top: 2%;
    width: 50%;
    height: 12%;
    text-align: center;
    margin: auto;
}

.Bienvenidos .genius {
    grid-area: genius;
    width: 50%;
    height: 12%;
    text-align: center;
    margin: auto;
}

/*Servicios*/

.servicios {
    display: grid;
    grid-template-areas: "informacion    informacion     informacion     " "basica         avanzada        ultra";
    grid-auto-rows: auto 1fr auto;
    grid-template-columns: auto auto auto;
}

.servicios .informacion {
    grid-area: informacion;
    text-align: center;
    width: 100%;
    height: 10%;
}

.basica {
    grid-area: basica;
    /* display: flex;
    flex-flow: column; */
    height: 80%;
    width: 100%;
    padding: 5%;
}

.avanzada {
    grid-area: avanzada;
    padding: 5%;
    display: flex;
    flex-flow: column;
    height: 80%;
    width: 100%;
}

.ultra {
    grid-area: ultra;
    padding: 5%;
    height: 80%;
    width: 100%;
}

/* Estilos Menu de ociones*/

.clientes {
    display: grid;
    grid-template-areas: "Descargas" "VerClientes";
    grid-template-rows: auto;
    grid-template-columns: 100%;
}

#descargaPdf {
    grid-area: Descargas;
}

#descargaPdf img {
    width: 50px;
    height: 50px;
}

#copia {
    grid-area: Descargas;
}

#copia img {
    width: 50px;
    height: 50px;
}

#anadir {
    grid-area: Descargas;
}

#anadir img {
    width: 50px;
    height: 50px;
}

/*Ver clientes*/

.ListadoClientes {
    grid-area: VerClientes;
    text-align: center;
    width: 100%;
}

.tablaClientes>div {
    margin: auto;
}

.contenidos {
    margin-right: 5%;
    padding-right: 5%;
}
.contenidos .Celda .correo {
    display: block;
    padding: 0;
    width: 30%;
}

.Row .Celda .tresbotones {
    display: none;
}
.Row .Celda .contenidos1-correo {
    display: block;
    padding: 0;
    display: flex;
}

.Celda .contenidos1-correo form input {
    margin: 5%;
}

/*Modificar Clientes*/

.Modificar {
    padding: 10px 30px;
    display: grid;
    grid-template-areas: "DatosPersonales DatosAdicionales" "enviar          enviar";
}

.Modificar .DatosPersonales div {
    grid-area: DatosPersonales;
    padding: 2%;
}

.Modificar .DatosAdicionales div {
    grid-area: DatosAdicionales;
    padding: 2%;
}

.Modificar input {
    padding: 5px;
}

.Modificar .enviar {
    grid-area: enviar;
}

/*Añadir clientes*/

.anadirClientes {
    padding: 10px 30px;
    display: grid;
    grid-template-areas: "TituloAnadirCliente    TituloAnadirCliente" "DatosPersonales        DatosAdicionales" "enviar                 enviar";
}

.anadirClientes .TituloAnadirCliente {
    grid-area: TituloAnadirCliente;
    text-align: center;
    padding: 5px;
}

.anadirClientes .DatosPersonales div {
    grid-area: DatosPersonales;
    padding: 2%;
}

.anadirClientes .DatosAdicionales div {
    grid-area: DatosAdicionales;
    padding: 2%;
}

.anadirClientes input {
    padding: 5px;
}

.anadirClientes .enviar {
    grid-area: enviar;
    width: 100%;
    background-color: #292A3A;
    color: white;
}

/*Ver Mensualidades*/
.contenidos .celda .correo {
    display: block;
    padding: 0;
    width: 50%;
}

.Row .Celda .tresbotones {
    display: none;
}
.Row .Celda .contenidos1-correo {
    display: block;
    padding: 0;
    display: flex;
}

/*Ver Mensualidades*/
.contenidos .Celda .precio {
    display: block;
}
.boton-checkbox~[class*="a-ocultar"] {
    display: block;
}
.Celda .contenidos1-precio {
    /* float: left; */
    width: 100%;
}
.Celda .contenidos1-precio form {
    display: flex;
    flex-flow: row;
    width: 100%; 
}

.Celda .contenidos1-precio form input {
    margin: 0%;
    /* width: 100%; */
}

/*Gestion Mensualidades*/

.ModificarMensualidades {
    padding: 10px 30px;
    text-align: center;
}

.ModificarMensualidades input {
    padding: 5px;
}

.ModificarMensualidades .enviar {
    grid-area: enviar;
    width: 100%;
}

/*Añadir Mensualidades*/

.anadirMensualidad input {
    padding: 5px;
}

footer {
    font-size: 20px;
}