header {
    display: grid;
    grid-template-areas: "zona-logo  zona-hamburguesa    zona-botones";
    grid-template-rows: 1fr auto auto;
}

.zona-logo {
    grid-area: zona-logo;
}

.zona-logo>a>img {
    height: 40%;
    width: 40%;
}

.zona-botones {
    grid-area: zona-botones;
}

.zona-hamburguesa {
    grid-area: zona-hamburguesa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburguesa-label, .hamburguesa-checkbox {
    display: none;
}

/* .gestionar-submenu {
    display: block;
} */

nav {
    position: static;
    align-items: center;
    line-height: 0;
    height: 100%;
    width: 90%;
    padding: 2%;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-flow: row;
    margin-right: auto;
}

nav ul li {
    padding-top: 2%;
    margin-right: 5%;
}

.gestionar-submenu {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.gestionar-submenu>li a {
    line-height: 30px;
}

.Bienvenidos {
    display: grid;
    grid-template-areas: "h1 h1" "metodo genius";
}

.Bienvenidos h1 {
    grid-area: h1;
    padding: 5%;
    text-align: center;
    text-align: center;
    padding: 5%;
}

.Bienvenidos .metodo {
    grid-area: metodo;
    padding-top: 2%;
    width: 50%;
    height: 12%;
    text-align: center;
    margin: auto;
}

.Bienvenidos .genius {
    grid-area: genius;
    width: 50%;
    height: 12%;
    text-align: center;
    margin: auto;
}

/*Cuotas*/

.cuotas {
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-areas: "Titulo     Titulo      Titulo" "basica     avanzada    ultra";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.TituloCuota {
    grid-area: Titulo;
    text-align: center;
    line-height: 200px;
}

.cuotas .basica {
    grid-area: basica;
    width: 33, 3%;
}

.cuotas ul {
    margin: 5%;
}

.cuotas .avanzada {
    grid-area: avanzada;
    width: 33, 3%;
}

.cuotas .ultra {
    grid-area: ultra;
}

/* Estilos Menu de ociones*/

.clientes {
    display: grid;
    grid-template-areas: "Descargas" "VerClientes";
    grid-template-rows: auto;
    grid-template-columns: 100%;
}

#descargaPdf {
    grid-area: Descargas;
}

#descargaPdf img {
    width: 50px;
    height: 50px;
}

#copia {
    grid-area: Descargas;
}

#copia img {
    width: 50px;
    height: 50px;
}

#anadir {
    grid-area: Descargas;
}

#anadir img {
    width: 50px;
    height: 50px;
}

/*Ver clientes*/

.ListadoClientes {
    grid-area: VerClientes;
    text-align: center;
    width: 100%;
}

.tablaClientes>div {
    margin: auto;
}

#contenedor {
    width: auto;
    height: auto;
    padding: 20px 30px;
    align-items: center;
    justify-content: center;
    display: table;
    border: 2px solid #000;
    right: auto;
}

#contenidos {
    display: flex;
    flex-flow: row;
    font-weight: bolder;
    width: auto;
    text-align: center;
}

#contenidos1 {
    display: flex;
    flex-flow: row;
    margin: auto;
    text-align: center;
}

#columna1, #columna2, #columna3 {
    /* display: flex;
    flex-flow: row; */
    margin: auto;
    padding: 2%;
    width: 40%;
}

#boton {
    padding: 2%;
    display: flex;
    flex-flow: row;
}

/*Modificar Clientes*/

.Modificar {
    padding: 10px 30px;
    display: grid;
    grid-template-areas: "DatosPersonales DatosAdicionales" "enviar          enviar";
}

.Modificar .DatosPersonales div {
    grid-area: DatosPersonales;
    padding: 2%;
}

.Modificar .DatosAdicionales div {
    grid-area: DatosAdicionales;
    padding: 2%;
}

.Modificar input {
    padding: 5px;
}

.Modificar .enviar {
    grid-area: enviar;
}

/*Añadir clientes*/

.anadirClientes {
    padding: 10px 30px;
    display: grid;
    grid-template-areas: "TituloAnadirCliente    TituloAnadirCliente" "DatosPersonales        DatosAdicionales" "enviar                 enviar";
}

.anadirClientes .TituloAnadirCliente {
    grid-area: TituloAnadirCliente;
    text-align: center;
    padding: 5px;
}

.anadirClientes .DatosPersonales div {
    grid-area: DatosPersonales;
    padding: 2%;
}

.anadirClientes .DatosAdicionales div {
    grid-area: DatosAdicionales;
    padding: 2%;
}

.anadirClientes input {
    padding: 5px;
}

.anadirClientes .enviar {
    grid-area: enviar;
    width: 100%;
    background-color: #292A3A;
    color: white;
}

/*Gestion Mensualidades*/

.ModificarMensualidades {
    padding: 10px 30px;
    text-align: center;
}

.ModificarMensualidades input {
    padding: 5px;
}

.ModificarMensualidades .enviar {
    grid-area: enviar;
    width: 100%;
}

/*Añadir Mensualidades*/

.anadirMensualidad input {
    padding: 5px;
}

footer {
    font-size: 20px;
}