header {
    display: grid;
    grid-template-areas: "zona-logo  zona-hamburguesa    zona-botones";
    grid-template-rows: 1fr auto auto;
}

.zona-logo {
    grid-area: zona-logo;
}

.zona-logo>a>img {
    height: 40%;
    width: 40%;
}

.zona-botones {
    grid-area: zona-botones;
}

.zona-hamburguesa {
    grid-area: zona-hamburguesa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburguesa-label, .hamburguesa-checkbox {
    display: none;
}

nav {
    position: static;
    align-items: center;
    line-height: 0;
    height: 100%;
    width: 90%;
    padding: 2%;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-flow: row;
    margin-right: auto;
}

nav ul li {
    padding-top: 2%;
    margin-right: 5%;
}

.gestionar-submenu {
    display: none;
    position: absolute;
    width: 15%;
    height: 20%;
    top: 7%;
    left: 35%;
}

.gestionar-submenu>li a {
    line-height: 30px;
}

/*Quienes Somos*/

#tagDivPanorama {
    top: 300px;
}

/*Texto Inicial*/

.Bienvenidos {
    display: grid;
    grid-template-areas: "h1 h1" "metodo genius";
}

.Bienvenidos h1 {
    grid-area: h1;
    padding: 5%;
    text-align: center;
    text-align: center;
    padding: 5%;
}

.Bienvenidos .metodo {
    grid-area: metodo;
    padding-top: 2%;
    width: 50%;
    height: 12%;
    text-align: center;
    margin: auto;
}

.Bienvenidos .genius {
    grid-area: genius;
    width: 50%;
    height: 12%;
    text-align: center;
    margin: auto;
}

/*Servicios*/

.servicios {
    display: grid;
    grid-template-areas: "informacion    informacion     informacion     " "basica         avanzada        ultra";
    grid-auto-rows: auto 1fr auto;
    grid-template-columns: auto auto auto;
}

.servicios .informacion {
    grid-area: informacion;
    text-align: center;
    width: 100%;
    height: 10%;
}

.basica {
    grid-area: basica;
    /* display: flex;
    flex-flow: column; */
    height: 80%;
    width: 100%;
    padding: 5%;
}

.avanzada {
    grid-area: avanzada;
    padding: 5%;
    display: flex;
    flex-flow: column;
    height: 80%;
    width: 100%;
}

.ultra {
    grid-area: ultra;
    padding: 5%;
    height: 80%;
    width: 100%;
}

/*Ver clientes*/

.menu {
    width: 90%;
}

.boton-checkbox:checked~[class*="a-ocultar"] {
    flex-flow: column;
    padding: 5%;
}
.boton form button {
    display: flex;
    flex-flow: column;
}

.boton form button img {
    width: 20px;
}

.graficoAnio {
    width: 800px; 
}
.graficoMes {
    width: 800px; 
}

footer {
    font-size: 20px;
}