header {
    display: grid;
    grid-template-areas: "zona-logo  zona-hamburguesa   zona-botones";
    grid-template-rows: 1fr auto auto;
}

.zona-logo {
    grid-area: zona-logo;
}

.zona-logo>a>img {
    height: 20%;
    width: 20%;
}

.zona-botones {
    grid-area: zona-botones;
    height: 100%;
    width: 100%;
}

.zona-botones img {
    padding-right: 5px;
}

.zona-botones .boton-iniciar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.zona-botones .boton-registrarse {
    display: flex;
    justify-content: center;
    align-items: center;
}

.zona-hamburguesa {
    grid-area: zona-hamburguesa;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.hamburguesa-label, .hamburguesa-checkbox {
    display: none;
}


nav {
    position: static;
    align-items: center;
    line-height: 0;
    height: 100%;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-flow: row;
    margin-right: auto;
}

nav ul li {
    padding-top: 2%;
    margin-right: 5%;
}

nav ul li [class*=none] {
    display: none;
}


/*texto iniciar*/

.Bienvenidos {
    display: grid;
    grid-template-areas: "h1 h1" "metodo genius";
}

.Bienvenidos h1 {
    grid-area: h1;
    /* padding: 4%; */
    text-align: center;
    text-align: center;
    /* padding: 5%; */
}

.Bienvenidos .metodo {
    grid-area: metodo;
    /* padding-top: 1%; */
    width: 50%;
    /* height: 12%; */
    text-align: center;
    margin: auto;
}

.Bienvenidos .genius {
    grid-area: genius;
    width: 50%;
    /* height: 12%; */
    text-align: center;
    margin: auto;
}

/*Quienes Somos*/
.mapa {
    height: 600px;
    width: 90%;
}

#tagDivPanorama {
    width: 200px; 
    height: 200px; 
    top: 500px; 
    left: 200px; 
}

/*Inicion de Sesion*/

.indentificacion {
    width: 20%;
}

.indentificacion .imagen img {
    width: 100px;
}

/*Servicios*/
.servicios {
    display: grid;
    grid-template-areas: 
    "informacion    informacion     informacion     "
    "basica         avanzada        ultra";
    grid-auto-rows: auto 1fr auto;
    grid-template-columns: auto auto auto;
}

.servicios .informacion {
    grid-area: informacion;
    text-align: center;
    width: 100%;
    height: 10%;
}

.basica {
    grid-area: basica;
    /* display: flex;
    flex-flow: column; */
    height: 80%;
    width: 100%;
    padding: 5%;
}

.avanzada {
    grid-area: avanzada;
    padding:5%;
    display: flex;
    flex-flow: column;
    height: 80%;
    width: 100%;

}

.ultra {
    grid-area: ultra;
    padding: 5%;
    height: 80%;
    width: 100%;
}


/* Estilos Menu de ociones*/

.clientes {
    width: 50%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: grid;
    grid-template-areas: "Descargas" "VerClientes";
    grid-template-rows: auto;
    grid-template-columns: 100%;
}

.descargas {
    flex-flow: row;
    justify-content: center;
    display: flex;
}

#descargaPdf {
    grid-area: Descargas;
}

#descargaPdf img {
    width: 50px;
    height: 50px;
}

#descargaPdf:hover {
    border-style: outset;
}

#copia {
    grid-area: Descargas;
}

#copia img {
    width: 50px;
    height: 50px;
}

#copia:hover {
    border-style: outset;
}

#anadir {
    grid-area: Descargas;
}

#anadir img {
    width: 50px;
    height: 50px;
}

#anadir:hover {
    border-style: outset;
}

/*Tabla clientes*/

.ListadoClientes {
    grid-area: VerClientes;
    text-align: center;
    width: 100%;
}

.tablaClientes>div {
    margin: auto;
    
}


/* .Tabla {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
} */
/* .Tabla {
    padding-left: 10%;
} */
/* .contenidos {
    margin-right: 5%;
    padding-right: 5%;
} */
/* .Celda .nombre {
    padding-right: 50px;
}

.Celda .apellidos {
    padding-right: 500px;

} */
.contenidos .Celda .correo {
    display: block;
    padding: 0;
    width: 30%;
}

.Row .Celda .tresbotones {
    display: none;
}
.Row .Celda .contenidos1-correo {
    display: block;
    width: 100%; 
    padding: 0;
    display: flex;
}


/* .Celda .contenidos1-correo form input {
width: 100%;
}  */

/*Modificar Clientes*/

.Modificar {
    width: 50%;
    padding: 10px 30px;
    display: grid;
    grid-template-areas: "DatosPersonales DatosAdicionales" "enviar          enviar";
}

.Modificar .DatosPersonales div {
    grid-area: DatosPersonales;
    padding: 2%;
}


.Modificar .DatosAdicionales div {
    grid-area: DatosAdicionales;
    padding: 2%;
}

.Modificar input {
    padding: 5px;
}

.Modificar .enviar {
    grid-area: enviar;
}

/*Añadir clientes*/

.anadirClientes {
    width: 50%;
    padding: 10px 30px;
    display: grid;
    grid-template-areas: "TituloAnadirCliente    TituloAnadirCliente" "DatosPersonales        DatosAdicionales" "enviar                 enviar";
}

.anadirClientes .TituloAnadirCliente {
    grid-area: TituloAnadirCliente;
    text-align: center;
}

.anadirClientes .DatosPersonales div {
    grid-area: DatosPersonales;
    padding: 2%;
}

.anadirClientes .DatosAdicionales div {
    grid-area: DatosAdicionales;
    padding: 2%;
}

.anadirClientes input {
    padding: 5px;
}

.anadirClientes .enviar {
    grid-area: enviar;
    width: 100%;
}

.anadirClientes .enviar:hover {
    background-color: #292A3A;
    color: white;
}

/*Ver Mensualidades*/
.mensualidades {
    width: 50%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.mensualidades .Tabla {
    padding-left: 0%;
}
.contenidos .Celda .precio {
    display: block;
}
.boton-checkbox~[class*="a-ocultar"] {
    display: block;
}
.contenidos .Celda .precio {
    display: block;
    padding: 0;
    width: 70%;
}

.Row .Celda .tresbotones {
    display: none;
}
.Row .Celda .contenidos1-precio {
    display: block;
    /* width: 100%; */
    padding: 0;
    display: flex;
    justify-content: center;

}

.boton {
    width: 0;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton form input {
    padding-right: 5%;
}

/*Gestion Mensualidades*/

.ModificarMensualidades {
    width: 50%;
    padding: 10px 30px;
    text-align: center;
}

.ModificarMensualidades input {
    padding: 5px;
}

.ModificarMensualidades .enviar {
    grid-area: enviar;
    width: 100%;
}

.ModificarMensualidades .enviar:hover {
    background-color: #292A3A;
    color: white;
}

/*Añadir Mensualidades*/

.anadirMensualidad {
    width: 50%;
}

.anadirMensualidad input {
    padding: 5px;
}

.anadirMensualidad .enviar {
    width: 100%;
}

.anadirMensualidad .enviar:hover {
    background-color: #292A3A;
    color: white;
}

/*Gestionar Pagos*/
.TablaListaPagados {
    display: table;
    text-align: center;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.TablaListaDeudores {
    display: table;
    text-align: center;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}