:root {
    font-family:  'Open Sans', sans-serif;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-areas: 
        "header header"
        "main   main"
        "main   main"
        "footer footer"
    ;
    grid-template-columns:1fr auto  ;
    grid-template-rows:10% 80% auto ;

}
html{
    min-height: 100%;
}
/* .Bienvenidos {
    padding: 5%;
    text-align: center;
}
*/
header {
    grid-area: header;
    display: grid;
    background-color: #292A3A;
    font-size: 20px;
    color: white; 
    /* border-radius: 0px 0px 20px 55px;  */
    box-shadow: 0 0 20px 4px black;
}

.tagDivCabecera {
    width: 100%;
    height: 100%;

}

.tagDivCabecera > a >img {
    width: 5%;
    float: left;
}
/*
*/
.navegacion {
    display: flex;
    flex-flow: row;
    justify-content: center;
    list-style: none; 
}

.navegacion >li {
    display: flex;
    flex-flow: row;
    margin: auto;
    border-radius: 5px;
}

.navegacion>li>a {
    color:white;
    text-decoration: none;
    text-transform: none;
}

.navegacion .botonIniciar>li>a {
    background-color: red;
    list-style: none;
    height: 40px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-decoration: none;
    text-transform: none;
}
.navegacion>li:hover {
    background-color: cornflowerblue;
}

/*Segundo menu*/
.subnavegacion {
    position: absolute;
    background-color: #292A3A;
    width: 10%;
    list-style: none;
    display: none;
}
.subnavegacion li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    
}

.subnavegacion li a:hover {
    background-color: cornflowerblue;
}
.navegacion li:hover .subnavegacion {
    display: block;
    padding: 5px;

}


/*Main*/
/*
*/
main {
    grid-area: main;
    background-color: #FFFFFF;    
    text-align: center;
    
}
.Bienvenidos {
    display: grid;
    grid-template-areas:
    "h1 h1" 
    "metodo genius";
}

.Bienvenidos h1 {
    grid-area: h1;
}

.Bienvenidos .metodo {
    grid-area: metodo;
    padding-top:2%;
    width: 50%;
    height: 12%;
    text-align:center;
    margin: auto;
}

.Bienvenidos .genius {
    grid-area: genius;
    width: 50%;
    height: 12%;
    text-align:center;
    margin: auto;
}

/*Inicion de Sesion*/

section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
     justify-content: center; 
    align-items: center;
}
.indentificacion{
    width:50%;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
}
.indentificacion>form {
    text-align: center;
}
.indentificacion input {
    padding:5px;
    background:none;
    outline:none;
    border:0;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
}


.registrarte{
    text-align: center;
    width:50%;
    height:600px;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    align-items: center; 
    justify-content: center;
    
}
.registrarte>form >div {
    padding: 1%;
}

.registrarte .TipoCuota {
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;

}
.registrarte input {
    width:100%;
    padding:10px;
    background:none;
    outline:none;
    border:0;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
}
/*Cuotas*/

.cuotas {
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-areas: 
    "Titulo     Titulo      Titulo"    
    "basica     avanzada    ultra";
     grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}


.TituloCuota{
    grid-area: Titulo;
    text-align: center;
    line-height: 200px;
}
.cuotas .basica {
    grid-area: basica;
    width: 33,3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: lightcoral;

}

.cuotas ul {
    margin:5%;
    list-style: none;
}
.cuotas .avanzada {
    grid-area: avanzada;
    width: 33,3%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: lightcyan;

}

.cuotas .ultra {
    grid-area: ultra;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: lightgreen;
}

 /* Estilos Menu de ociones*/
.clientes {
    display:grid;
    grid-template-areas: 
    "Descargas"
    "VerClientes";
    grid-template-rows:auto;
    grid-template-columns:100%;

}

    /* #menuOpciones{
        background-image: linear-gradient(lightgray, white);
    
    }  */

.descargas {
    flex-flow: row;
    justify-content: center;
    display: flex;
    
    }
#descargaPdf {
    grid-area: Descargas;
    
}
#descargaPdf img {
    width: 50px; height: 50px;
}
    
#descargaPdf:hover {
    border-style: outset;
    } 
#copia {
    grid-area: Descargas;

}

#copia img {
    width: 50px; height: 50px;
}
     
#copia:hover {
    border-style: outset;

}
    
#anadir {
    grid-area: Descargas;
}
    
#anadir img {
    width: 50px; height: 50px;

}

#anadir:hover {
    border-style: outset;

} 
    
/*Tabla clientes*/

.ListadoClientes{
    grid-area:VerClientes ;
    text-align: center;
    width: 100%;
}
   /* .tablaClientes{
       display: flex;
       flex-flow: row;
       width: 100%;
       height: 80%;
       background-color: lightgreen;
   } */
   .tablaClientes>div{
       margin: auto;
   }
   
   #contenedor {
       width:auto;
       height:auto;
       background:#e6e6e6;
       border-radius:8px;
       box-shadow:0 0 40px -10px #000;
       padding:20px 30px;
       max-width:calc(100vw - 40px);
       box-sizing:border-box;
       align-items: center; 
       justify-content: center;
       display: table; 
       border: 2px solid #000;
       right:  auto;
       /* display: grid;
       grid-template-areas:
       "ListadoClientes ListadoClientes     ListadoClientes"
       "enunciado       enunciado           enunciado"
       "columna1        columna2            columna3"; */
   }
   /* .ListadoClientes{
       grid-area: ListadoClientes;
   }
   #contenidos{
       grid-area: enunciado;
       display: flex;
       flex-flow: row;
   }
   #contenidos>#Nombre,#Apellidos,#Correo{
       width: 100%;
   }
   #contenidos1 {
    display: flex;
    flex-flow: column;
   }
#contenidos1>#columna1{
    grid-area: columna1;
    display: flex;
    flex-flow: column;
}

#contenidos1>#columna2{
    grid-area: columna2;
    
}

#contenidos1>#columna3{
    grid-area: columna3;
} */
/*
#boton {
    grid-area: boton;
} */

   #contenidos {
       display: flex;
       flex-flow: row;
       font-weight: bolder;
       width: auto;
       text-align: center;
   }
   
   #contenidos1 {
       display: flex;
       flex-flow: row;
       margin: auto;
       text-align: center;
           
   }
   
   #columna1, #columna2, #columna3 {
       display: flex;
       flex-flow: row;
       margin: auto;
       padding: 2%;
       width: 40%;
   }
   
   #boton {
       padding: 2%;
      display: flex;
      flex-flow: row;
   
   } 
 /*Añadir clientes*/
 .anadirClientes{
    width:50%;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    padding:10px 30px;
    display: grid;
    grid-template-areas:
    "TituloAnadirCliente    TituloAnadirCliente" 
    "DatosPersonales        DatosAdicionales"
    "enviar                 enviar";
}
.anadirClientes .TituloAnadirCliente {
    grid-area: TituloAnadirCliente;
    text-align: center;

}
.anadirClientes .DatosPersonales div {
    grid-area: DatosPersonales;
    padding: 2%;

}

.anadirClientes .DatosAdicionales div {
    grid-area: DatosAdicionales;
    padding: 2%;
}

.anadirClientes input {

    padding:5px;
    background:none;
    outline:none;
    border:0;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
}
.anadirClientes .enviar {
    grid-area: enviar;
    width: 100%;
}

.anadirClientes .enviar:hover {
    background-color: #292A3A;
    color:white;
}
/*Modificar Clientes*/

.Modificar {
    width:50%;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    padding:10px 30px;
    display: grid;
    grid-template-areas: 
    "DatosPersonales DatosAdicionales"
    "enviar          enviar";
}

.Modificar .DatosPersonales div {
    grid-area: DatosPersonales;
    padding: 2%;

}

.Modificar .DatosAdicionales div {
    grid-area: DatosAdicionales;
    padding: 2%;
}

.Modificar input {

    padding:5px;
    background:none;
    outline:none;
    border:0;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
}
.Modificar .enviar {
    grid-area: enviar;
    width: 100%;
}

.Modificar .enviar:hover {
    background-color: #292A3A;
    color:white;
}

/*Gestion Mensualidades*/
.ModificarMensualidades {
    width:50%;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    padding:10px 30px;
    text-align: center;
}

.ModificarMensualidades input {

    padding:5px;
    background:none;
    outline:none;
    border:0;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
}

.ModificarMensualidades .enviar {
    grid-area: enviar;
    width: 100%;
}

.ModificarMensualidades .enviar:hover {
    background-color: #292A3A;
    color:white;
}

/*Añadir Clientes*/
.anadirMensualidad{
    text-align: center;
    width:50%;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    padding:10px 30px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.anadirMensualidad input {

    padding:5px;
    background:none;
    outline:none;
    border:0;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
}
.anadirMensualidad .enviar {
    width: 100%;
}

.anadirMensualidad .enviar:hover {
    background-color: #292A3A;
    color:white;
}
/*footer*/
footer {
    grid-area: footer;
    background-color: #292A3A;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
} 