:root {
    font-family:  'Open Sans', sans-serif;
    font-size: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-areas: 
        "header header"
        "main   main"
        "main   main"
        "footer footer"
    ;
    grid-template-columns:1fr auto  ;
    grid-template-rows:10% 80% auto ;
}

html{
    min-height: 100%;
}

header {
    grid-area: header;
    background-color: #292A3A;
    font-size: 20px;
    color: white; 
    /* border-radius: 0px 0px 20px 55px;  */
    box-shadow: 0 0 20px 4px black;
    display: grid;
    grid-template-areas: 
    "navegacion cerrarSesion";
    /* grid-template-columns:1fr 15% ;
    grid-template-rows: auto 1fr; */
}

.tagDivCabecera {
    width: 100%;
    height: 100%;
}

.tagDivCabecera > a >img {
    width: 15%;
    float: left;
}
/*navegacion*/
.navegacion {
    grid-area: navegacion;
    width: 95%;
}

.navegacion>ul {
    padding: 2%;
    list-style: none;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.navegacion ul li{
    display: block;
    padding: 15px;
    
}
.navegacion ul li a{
    color: white;
    text-decoration: none;
}

.navegacion>ul>li:hover {
    background-color: #2980b9;
}

.navegacion .botonIniciar>li>a {
    background-color: red;
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    color:white;
    text-decoration: none;
    text-transform: none;
}

.navegacion>li:hover {
    background-color: cornflowerblue;
}

.cerrarSesion {
    grid-area: cerrarSesion;
    font-size: 14px;
}

/*Segundo menu*/

.subnavegacion {
    position: absolute;
    background-color: #292A3A;
    width: 15%;
    
    list-style: none;
    display: none;
}
.subnavegacion li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    
}

.subnavegacion li a:hover {
    background-color: cornflowerblue;
}
.navegacion li:hover .subnavegacion {
    display: block;
    padding: 5px;

}

/*main*/
main {
    grid-area: main;
    background-color: #FFFFFF;    
    text-align: center;
}


.Bienvenidos h1 {
    grid-area: h1;
    padding: 5%;
    text-align: center;
}

.Bienvenidos .metodo {
    padding-top:2%;
    width: 50%;
    height: 12%;
    text-align:center;
    margin: auto;
}

.Bienvenidos .genius {
    padding-top:10%;
    width: 50%;
    height: 12%;
    text-align:center;
    margin: auto;
}

/*Inicion de Sesion*/

section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
     justify-content: center; 
    align-items: center;
}

.indentificacion{
    width:20%;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
}

.indentificacion .imagen {
    width: 100%;
    display: flex;
    justify-content: center;
}

.indentificacion .imagen img {
    width: 100px;
}
.indentificacion>form {
    text-align: center;
}
.indentificacion input {
    padding:5px;
    background:none;
    outline:none;
    border:0;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
}


/*footer*/
footer {
    grid-area: footer;
    background-color: #292A3A;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
} 