.zona-logo>a>img {
    width: 50%;
    height: 50%;
}

/*Quienes Somos*/
#tagDivPanorama {
    width: 30%; 
    height: 20%; 
    position: absolute; 
    top: 400px; 
    left: 0; 
    border: red solid 5px;
}

.Bienvenidos {
    display: grid;
    grid-template-areas: 
    "h1" 
    "metodo" 
    "genius";
}

.Bienvenidos h1 {
    grid-area: h1;
}

.Bienvenidos .metodo {
    grid-area: metodo;
    margin: auto;
    padding-top: 20%;
}

.Bienvenidos .genius {
    grid-area: genius;
    /* width: 50%;*/
    padding-top: 20%;
    margin: auto;
}

/*tabla clientes*/

.clientes {
    display: grid;
    grid-template-areas: "Descargas" "VerClientes";
    grid-template-rows: auto;
    grid-template-columns: 100%;
}

#descargaPdf {
    grid-area: Descargas;
}

#descargaPdf img {
    width: 50px;
    height: 50px;
}

#copia {
    grid-area: Descargas;
}

#copia img {
    width: 50px;
    height: 50px;
}

#anadir img {
    width: 50px;
    height: 50px;
}

.ListadoClientes {
    grid-area: VerClientes;
    text-align: center;
    width: 100%;
}

.tablaClientes>div {
    margin: auto;
}

.contenidos .celda .correo {
    display: block;
    padding: 0;
    width: 50%;
}

.Row .Celda .tresbotones {
    display: none;
}
.Row .Celda .contenidos1-correo {
    display: block;
    padding: 0;
    display: flex;
}

.Celda .contenidos1-correo form input {
    margin: 5%;
}
/*Ver Mensualidades*/
.contenidos .Celda .precio {
    display: block;
}
.boton-checkbox~[class*="a-ocultar"] {
    display: block;
}
.Celda .contenidos1-precio {
    float: left;
    width: 25%;
}
.Celda .contenidos1-precio form {
    display: flex;
    flex-flow: row;
    float: left;
    /* width: 75%; */
}

.Celda .contenidos1-precio form input {
    margin: 0%;
}


/*Modificar Clientes*/

.Modificar {
    padding: 10px 30px;
    display: grid;
    grid-template-areas: "DatosPersonales DatosAdicionales" "enviar enviar";
}

.Modificar .DatosPersonales div {
    grid-area: DatosPersonales;
    padding: 2%;
}

.Modificar .DatosAdicionales div {
    grid-area: DatosAdicionales;
    padding: 2%;
}

.Modificar input {
    padding: 5px;
}

.Modificar .enviar {
    grid-area: enviar;
}

/*Añadir clientes*/

.anadirClientes {
    padding: 10px 30px;
    display: grid;
    grid-template-areas: "TituloAnadirCliente    TituloAnadirCliente" "DatosPersonales        DatosAdicionales" "enviar                 enviar";
}

.anadirClientes .TituloAnadirCliente {
    grid-area: TituloAnadirCliente;
    text-align: center;
    padding: 5px;
}

.anadirClientes .DatosPersonales div {
    grid-area: DatosPersonales;
    padding: 2%;
}

.anadirClientes .DatosAdicionales div {
    grid-area: DatosAdicionales;
    padding: 2%;
}

.anadirClientes input {
    padding: 5px;
}

.anadirClientes .enviar {
    grid-area: enviar;
}

/*Gestion Mensualidades*/

.ModificarMensualidades {
    padding: 10px 30px;
}

.ModificarMensualidades input {
    padding: 5px;
}

.ModificarMensualidades .enviar {
    grid-area: enviar;
}


/*Añadir Mensualidades*/

.anadirMensualidad input {
    padding: 5px;
}

.anadirMensualidad .enviar {
    width: 100%;
}

footer {
    font-size: 20px;
}