:root {
    font-family:  'Open Sans', sans-serif;
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-areas: 
        "header header"
        "main   main"
        "main   main"
        "footer footer"
    ;
    grid-template-columns:1fr auto  ;
    grid-template-rows:auto 82% auto ;

}

html{
    min-height: 100%;
}



header{
    grid-area: header;
    background-color: #292A3A;
    font-size: 14px;
    color: white; 
    box-shadow: 0 0 20px 4px black;
}

.tagDivCabecera {
    width: 100%;
    height: 100%;

}

main {
    grid-area: main;
    background-color: #FFFFFF;    
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
     justify-content: center; 
    align-items: center;
}

footer {
    grid-area: footer;
    background-color: #292A3A;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
} 