header {
    display: grid;
    grid-template-areas: 
    "navegacion cerrarSesion";
    grid-template-columns:1fr 15% ;
    grid-template-rows: auto 1fr;
}


.tagDivCabecera > a >img {
    width: 15%;
    float: left;
}

.navegacion {
    grid-area: navegacion;
    font-size: 10px;
    width: 100%;
}

.navegacion>ul {
    list-style: none;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.navegacion ul li{
    display: block;
    padding: 3%;
    text-align: center;
}

.navegacion ul li a{
    color: white;
    text-decoration: none;
}

.navegacion>ul>li:hover {
    background-color: #cae8d5;
}

.navegacion .botonIniciar>li {
    background-color: red;
    list-style: none;
    color:white;
    text-decoration: none;
}

.navegacion>li:hover {
    background-color: #cae8d5;
}

.cerrarSesion {
    grid-area: cerrarSesion;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: 9px;
}

.cerrarSesion .botonCerrar{
    font-size: 9px;
}

.subnavegacion {
    position: absolute;
    background-color: #292A3A;
    right: 55%;
    width: 12%;
    list-style: none;
    display: none;
}
.subnavegacion li a{
    display: block;
    padding-right: 5px;
    text-decoration: none;
    text-align: center;
    color: white;
    
}

.subnavegacion li a:hover {
    background-color: #cae8d5;
}
.navegacion li:hover .subnavegacion {
    display: block;
    /* padding: 5px; */

}

/*Texto inicial*/

.Bienvenidos {
    text-align: center;
    padding: 7%;
    font-size: 12px;
}


/*Inicion de Sesion*/
.indentificacion{
    text-align: center;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    align-items: center; 
    justify-content: center;
}

.indentificacion .imagen {
    width: 100%;
    display: flex;
    justify-content: center;
}

.indentificacion .imagen img {
    width: 100px;
}
.indentificacion>form {
    
    justify-content: center;
}
.indentificacion #enviar {
    background-color: #292A3A;
    color:white;
}

.indentificacion #cambiar {
    background-color: #292A3A;
    color:white;
}


.indentificacion input {
    padding:5px;
    background:none;
    outline:none;
    border:0;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
}

/*Registrar Usuario*/

.registrarte{
    text-align: center;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    align-items: center; 
    justify-content: center;
    
}

.registrarte .imagen {
    width: 100%;
    display: flex;
    justify-content: center;
}

.registrarte .imagen img {
    width: 100px;
}

.registrarte>form >div {
    padding: 1%;
}

.registrarte .TipoCuota {
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;

}

.registrarte input {
    width:100%;
    padding:10px;
    background:none;
    outline:none;
    border:0;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
}

/*Cuotas*/
.cuotas {
    height: 100%;
}
.TituloCuota {
    text-align: center;
}
.cuotas .basica {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: lightcoral;
}

.cuotas ul {

    list-style: none;
}
.cuotas .avanzada {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: lightcyan;
}

.cuotas .ultra {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: lightgreen;
}

/* Estilos Menu de ociones*/
.clientes {
    display: flex;
    flex-flow: column;
}
.descargas {
    flex-flow: row;
    justify-content: center;
    display: flex;
}

#descargaPdf img {
    width: 50px; height: 50px;
}

#copia img {
    width: 50px; height: 50px;
}

#anadir img {
    width: 50px; height: 50px;

}
/*menu Opciones*/
#descargaPdf img {
    width: 30px; height: 30px;
}
    
#descargaPdf:hover {
    border-style: outset;
    } 
#copia {
    grid-area: Descargas;

}

#copia img {
    width: 30px; height: 30px;

}
     
#copia:hover {
    border-style: outset;

}
    
#anadir {
    grid-area: Descargas;
}
    
#anadir img {
    width: 30px; height: 30px;


}

#anadir:hover {
    border-style: outset;

} 



/*Ver Clientes*/
#contenedor {
    float: left;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    padding:5px 10px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
}


 #contenidos {
 display: flex;
 flex-flow: column;

}



 #contenidos1 {
    display: flex;
    flex-flow: column;
}

#contenedor #contenedor1 >#columna1,#columna2,#columna3 {
    display: flex;
    flex-flow: row;
} 

#boton {
    display: flex;
    flex-flow: row;
}


/*Modificar Clientes*/

.Modificar {
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    padding:10px 20px;
}

.Modificar input {
    background:none;
    outline:none;
    border:0;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
}

.Modificar .enviar {
    grid-area: enviar;
    width: 100%;
    background-color: #292A3A;
    color:white;
}


/*Añadir clientes*/
.anadirClientes{
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    /* padding:10px 20px; */
}

.anadirClientes input {

    background:none;
    outline:none;
    border:0;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
}

.anadirClientes .enviar {
    grid-area: enviar;
    width: 100%;
    background-color: #292A3A;
    color:white;

}

/*Gestion Mensualidades*/
.ModificarMensualidades {
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    padding:10px 20px;
    text-align: center;
}

.ModificarMensualidades input {
    background:none;
    outline:none;
    border:0;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
}

.ModificarMensualidades .enviar {
    background-color: #292A3A;
    color:white;
    width: 100%;
}

/*Añadir Mensualidades*/

.anadirMensualidad{
    text-align: center;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    padding:10px 30px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.anadirMensualidad input {
    background:none;
    outline:none;
    border:0;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
}

.anadirMensualidad .enviar {
    background-color: #292A3A;
    color:white;
    width: 100%;
}
footer {
    font-size: 12px;
} 