:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    --color-oscuro: #292A3A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: "header header" "main   main" "footer footer";
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
}

html {
    min-height: 100%;
}

header {
    grid-area: header;
    background-color: var(--color-oscuro);
    font-size: 14px;
    color: white;
    box-shadow: 0 0 20px 4px black;
    display: grid;
    grid-template-columns: 20% 1fr auto;
}

.zona-logo {
    grid-column: 1;
    align-self: center;
}

.zona-logo>a>img {
    width: 100%;
}

.zona-botones {
    grid-column: 2;
    width: 100%;
    height: 100%;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.zona-botones img {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70%;
}

a {
    text-decoration: none;
    color: white;
}

.zona-hamburguesa {
    grid-column: 3;
}

.hamburguesa-checkbox {
    display: none;
}

.hamburguesa-label {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: block;
    justify-content: center;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* writing-mode: vertical-lr; */
}

.hamburguesa-checkbox:checked~nav {
    left: 0;
}

nav {
    position: fixed;
    width: 50%;
    height: 100vh;
    background-color: var(--color-oscuro);
    top: 70px;
    left: -100%;
    text-align: center;
    transition: left .5s;
    font-size: 1.4rem;
    line-height: 30px;
}

nav ul li {
    display: block;
    margin: 1rem 0;
}

.cerrarSesion {
    font-size: 14px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.cerrarSesion .botonCerrar {
    background-color: #dd2c00;
    border: 0;
    border-radius: 15px;
    color: white;
    width: 100%;
    font-size: 1.1rem;
    padding: 5%;
}

main {
    color: white;
    grid-area: main;
    /* background-color: #FFFFFF; */
    background: url("/ProyectoGymArtCopia/imagenes/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Texto inicial*/

.Bienvenidos {
    text-align: center;
    padding: 7%;
    font-size: 12px;
}

/*zona contacto*/

.contacto {
    text-align: center;
    background: var(--color-oscuro);
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.contacto h1 {
    padding-bottom: 5%;
}

.contacto form div {
    padding-right: 2%;
    padding-bottom: 5%;
    display: flex;
    flex-flow: column;
}

.contacto form div label {
    padding-bottom: 5%;
}

.contacto form input {
    text-align: center;
    padding-bottom: 2%;
    width: 100%;
    color: white;
    background: none;
    outline: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
}

.contacto .mensaje {
    display: flex;
}

.contacto .mensaje label {
    padding-bottom: 5%;
}

.contacto textarea {
    font-size: 1.2rem;
}

.contacto button {
    background-color: #dd2c00;
    border: 0;
    border-radius: 15px;
    color: white;
    width: 40%;
    font-size: 1rem;
    padding: 2%;
}

/*Quienes Somos*/

.mapa {
    height: 50%;
    width: 100%;
}

#tagDivPanorama {
    width: 30%;
    height: 20%;
    position: absolute;
    top: 100px;
    left: 0;
    border: red solid 5px;
}

/*Inicion de Sesion*/

.indentificacion {
    text-align: center;
    background: var(--color-oscuro);
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.indentificacion .titulo {
    margin-bottom: 2%;
}

.indentificacion>form {
    justify-content: center;
}

.indentificacion>form input {
    text-align: center;
    width: 100%;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    background: none;
    outline: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
}

.indentificacion button {
    margin-top: 4%;
    margin-bottom: 2%;
}

.indentificacion .boton_enviar {
    background-color: #dd2c00;
    border: 0;
    border-radius: 15px;
    color: white;
    width: 45%;
    font-size: 1rem;
    padding: 3%;
}

.indentificacion .boton_registrar {
    background-color: #dd2c00;
    border: 0;
    border-radius: 15px;
    color: white;
    width: 45%;
    font-size: 1rem;
    padding: 3%;
}

.indentificacion .boton_olvidar_contrasena {
    background-color: #dd2c00;
    border: 0;
    border-radius: 15px;
    color: white;
    width: 100%;
    font-size: 1rem;
    padding: 3%;
}

/*Registrar Usuario*/

.registrarte {
    text-align: center;
    background: var(--color-oscuro);
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.registrarte>form>div {
    padding: 2%;
}

.registrarte input {
    text-align: center;
    width: 100%;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    background: none;
    outline: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
}

.registrarte .boton-registrarte {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: center;
}

.registrarte button {
    background-color: #dd2c00;
    border: 0;
    border-radius: 15px;
    color: white;
    width: 40%;
    font-size: 1.3rem;
    padding: 3%;
}

.registrarte a {
    background-color: #dd2c00;
    border: 0;
    border-radius: 15px;
    color: white;
    width: 40%;
    font-size: 1.3rem;
    padding: 2.5%;
}


.menu_registrarse {
    width: 0%;
    height: 0%;
}

/*Cuotas*/

.servicios {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.informacion {
    padding: 10px;
    font-size: 2rem;
}

/*Basica*/

.basica {
    padding: 8% 5%;
    display: flex;
    flex-flow: column;
    height: 30%;
}

.titulo-precioB {
    text-align: center;
    background-color: blueviolet;
    height: 15%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.titulo-precioB h1 {
    color: white;
}

.titulo-precioB p {
    color: yellow;
}

.b-incluye {
    text-align: center;
    color: grey;
    height: 100%;
}

.b-incluye ul {
    list-style: none;
    height: 100%;
}

.b-incluye li {
    border: 1px solid black;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.b-incluye li:nth-child(odd) {
    background-color: #c7c2c2;
}

.b-incluye li:nth-child(even) {
    background-color: #ffffff;
}

/*Avanzada*/

.avanzada {
    padding: 8% 5%;
    display: flex;
    flex-flow: column;
    height: 30%;
}

.titulo-precioA {
    text-align: center;
    background-color: black;
    height: 15%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.titulo-precioA h1 {
    color: white;
}

.titulo-precioA p {
    color: red;
}

.a-incluye {
    text-align: center;
    color: grey;
    height: 100%;
}

.a-incluye ul {
    list-style: none;
    height: 100%;
}

.a-incluye li {
    border: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 25%;
}

.a-incluye li:nth-child(odd) {
    background-color: #c7c2c2;
}

.a-incluye li:nth-child(even) {
    background-color: #ffffff;
}

/*Ultra*/

.ultra {
    /* padding: 8% 5%; */
    display: flex;
    flex-flow: column;
    height: 30%;
}

.titulo-precioU {
    text-align: center;
    background-color: #06DDE8;
    height: 15%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.titulo-precioU h1 {
    color: white;
}

.titulo-precioU p {
    color: #01B2B1;
}

.u-incluye {
    text-align: center;
    color: grey;
    height: 100%;
}

.u-incluye ul {
    list-style: none;
    height: 100%;
}

.u-incluye li {
    border: 1px solid black;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 25%;
}

.u-incluye li:nth-child(odd) {
    background-color: #c7c2c2;
}

.u-incluye li:nth-child(even) {
    background-color: #ffffff;
}

/*Ver Clientes*/

.menu {
    background: #292A3A;
    width: 90%;
    display: flex;
    flex-flow: column;
}
.clientesAntiguos {
    width: 100%;
    /* background-color: red; */

}
.clientesAntiguos button {
    background-color: #dd2c00;
    border: 0;
    border-radius: 15px;
    color: white; 
    padding: 0.5%;
    float: right;

}

.buscador {
    width: 100%;
    text-align: center;
    padding: 15px;
} 
.input {
    display: flex;
    justify-content: center;
    width: 100%;
}

.i_buscar {
    width: 100%;
    text-align: center;
    height: 30%;
    padding: 10px;
}

.input button {
    background: none;
    border: none;
    padding-left: 1%;
}
.input button img {
    width: 30px;
}

/* Estilos Menu de ociones*/

.descargas {
    flex-flow: row;
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
}

#descargaPdf img {
    width: 40px;
    height: 40px;
}

#copia img {
    width: 40px;
    height: 40px;
}

#anadir img {
    width: 40px;
    height: 40px;
}

.Titulo {
    text-align: center;
    margin: 10px;
}

.divTable {
    display: table;
    /* width: 50%; */
}

.divTableRow {
    display: table-row;
}

.contenidos {
    display: table-header-group;
}

.divTableCelda, .divTableCabeza {
    display: table-cell;
}

.divTableBody {
    display: table-row-group;
}

div.cliente {
    border: 4px solid #555555;
    background: #292A3A;
    text-align: center;
    border-collapse: collapse;
}

.divTable.cliente .divTableCelda, .divTable.cliente .divTableCabeza {
    border: 1px solid #555555;
    padding: 5px 2px;
}

.divTable.cliente .divTableBody .divTableCelda {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
}

.divTable.cliente .divTableRow:nth-child(even) {
    background: rgb(196, 15, 15);
}

.divTable.cliente .contenidos {
    background: rgb(45, 46, 75);
    border-bottom: 4px solid #555555;
    /* padding: 20px; */
}

.divTable.cliente .contenidos .divTableCabeza {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #555555;
    /* padding: 20px; */
}

.divTable.cliente .contenidos .divTableCabeza:first-child {
    border-left: none;
}

.divTable.cliente .divTableBody .divTableRow .divTableCelda.input {
    display: flex;
}

.boton-checkbox {
    display: none;
}

.boton-checkbox~[class*="a-ocultar"] {
    display: none;
}

.boton-checkbox:checked~[class*="a-ocultar"] {
    display: initial;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.boton form button {
    background-color: var(--color-oscuro);
    border: 0;
    margin-right: 9px;
    margin-left: 9px;
    width: 0;
    display: flex;
    flex-flow: column;
}

.boton form button img {
    width: 20px;
}

/*Modificar Clientes*/

.Modificar {
    background: var(--color-oscuro);
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    padding: 10px 20px;
}

.Modificar h1 {
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}

.Modificar div {
    padding: 5px;
}

.Modificar input {
    background: none;
    color: white;
    text-align: center;
    outline: none;
    border: 0;
    transition: all .3s;
    /* width: 60%; */
    border-bottom: 2px solid #bebed2;
}

.Modificar .enviar {
    background-color: #dd2c00;
    border: 0;
    border-radius: 15px;
    color: white;
    width: 100%;
    font-size: 1.5rem;
    padding: 3%;
    margin-top: 3%;
}

/*Añadir clientes*/

.anadirClientes {
    background: var(--color-oscuro);
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    padding: 10px 20px;
}

.anadirClientes div {
    padding: 10px;
}

.anadirClientes h1 {
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}

.anadirClientes input {
    background: none;
    color: white;
    text-align: center;
    outline: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
}

.anadirClientes select {
    border-radius: 15px;
    padding: 2px;
    width: 130px;
    font-size: 1.1rem;
}

.anadirClientes .enviar {
    background-color: #dd2c00;
    border: 0;
    border-radius: 15px;
    color: white;
    width: 100%;
    font-size: 1.2rem;
    padding: 3%;
    margin-top: 3%;
}

/*Modificar Mensualidades*/

.ModificarMensualidades {
    background: var(--color-oscuro);
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    padding: 10px 10px;
    text-align: center;
}

.ModificarMensualidades div {
    padding: 4px;
}

.ModificarMensualidades h1 {
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}

.ModificarMensualidades input {
    background: none;
    color: white;
    text-align: center;
    outline: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
}

.ModificarMensualidades .enviar {
    background-color: #dd2c00;
    border: 0;
    border-radius: 15px;
    color: white;
    width: 100%;
    font-size: 1.5rem;
    padding: 3%;
    margin-top: 3%;
}

/*Añadir Mensualidades*/

.anadirMensualidad {
    background: var(--color-oscuro);
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    padding: 10px 20px;
}

.anadirMensualidad div {
    padding: 5px;
}

.anadirMensualidad h1 {
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}

.anadirMensualidad input {
    background: none;
    color: white;
    text-align: center;
    outline: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
}

.anadirMensualidad .enviar {
    background-color: #dd2c00;
    border: 0;
    border-radius: 15px;
    color: white;
    width: 100%;
    font-size: 1.5rem;
    padding: 3%;
    margin-top: 3%;
}

/*
.monitores {
    background: #292A3A;
    width: 50%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.monitores .Row .Celda .boton form button {
    background-color: var(--color-oscuro);
    border: 0;
    margin-right: 5px;
    margin-left: 30px;
    width: 0;
} */

footer {
    grid-area: footer;
    background-color: #292A3A;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}