:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    --color-oscuro: #292A3A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: "header header" "main   main" "footer footer";
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
}

html {
    min-height: 100%;
}

header {
    grid-area: header;
    background-color: var(--color-oscuro);
    font-size: 14px;
    color: white;
    box-shadow: 0 0 20px 4px black;
    display: grid;
    grid-template-columns: 20% 1fr auto;
}

.zona-logo {
    grid-column: 1;
    align-self: center;
}

.zona-logo>a>img {
    width: 100%;
}

.zona-botones {
    grid-column: 2;
    width: 100%;
    height: 100%;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.zona-botones img {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70%;
}

a {
    text-decoration: none;
    color: white;
}

.zona-hamburguesa {
    grid-column: 3;
}

.hamburguesa-checkbox {
    display: none;
}

.hamburguesa-label {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: block;
    justify-content: center;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* writing-mode: vertical-lr; */
}

.hamburguesa-checkbox:checked~nav {
    left: 0;
}

nav {
    position: fixed;
    width: 50%;
    height: 100vh;
    background-color: var(--color-oscuro);
    top: 70px;
    left: -100%;
    text-align: center;
    transition: left .5s;
    font-size: 1.4rem;
    line-height: 30px;
}

nav ul li {
    display: block;
    margin: 1rem 0;
}

.cerrarSesion {
    font-size: 14px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

main {
    color: white;
    grid-area: main;
    /* background-color: #FFFFFF; */
    background: url("/ProyectoGymArtCopia/imagenes/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Texto inicial*/

.Bienvenidos {
    text-align: center;
    padding: 7%;
    font-size: 12px;
}

/*Quienes Somos*/

.mapa {
    height: 50%;
    width: 100%;
}

#tagDivPanorama {
    width: 30%;
    height: 20%;
    position: absolute;
    top: 100px;
    left: 0;
    border: red solid 5px;
}

/*Inicion de Sesion*/

.indentificacion {
    text-align: center;
    background: var(--color-oscuro);
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.indentificacion .imagen {
    width: 100%;
    display: flex;
    justify-content: center;
}

.indentificacion .imagen img {
    width: 100px;
}

.indentificacion>form {
    justify-content: center;
}

.indentificacion>form input {
    color: white;
    background-color: var(--color-oscuro);
}

.indentificacion #enviar {
    background-color: white;
    color: var(--color-oscuro);
}

.indentificacion #cambiar {
    background-color: white;
    color: var(--color-oscuro);
}

.indentificacion input {
    padding: 5px;
    /* outline: none; */
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
}

/*Registrar Usuario*/

.registrarte {
    text-align: center;
    background: var(--color-oscuro);
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.registrarte .imagen {
    width: 100%;
    display: flex;
    justify-content: center;
}

.registrarte .imagen img {
    width: 100px;
}

.registrarte>form>div {
    padding: 1%;
}

.registrarte input {
    width: 100%;
    color: white;
    padding: 10px;
    background: none;
    outline: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
}

/*Cuotas*/

.servicios {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-flow: column;
}

/*Basica*/

.basica {
    display: flex;
    flex-flow: column;
    height: 30%;
    padding: 5%;
}

.titulo-precioB {
    text-align: center;
    background-color: blueviolet;
}

.titulo-precioB h1 {
    color: white;
}

.titulo-precioB p {
    color: yellow;
}

.b-incluye {
    text-align: center;
    color: grey;
    height: 100%;
}

.b-incluye ul {
    list-style: none;
    height: 100%;
}

.b-incluye li {
    border: 1px solid black;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.b-incluye li:nth-child(odd) {
    background-color: #c7c2c2;
}

.b-incluye li:nth-child(even) {
    background-color: #ffffff;
}

/*Avanzada*/

.avanzada {
    padding: 8% 5%;
    display: flex;
    flex-flow: column;
    height: 50%;
}

.titulo-precioA {
    text-align: center;
    background-color: black;
}

.titulo-precioA h1 {
    color: white;
}

.titulo-precioA p {
    color: red;
}

.a-incluye {
    text-align: center;
    color: grey;
    height: 100%;
}

.a-incluye ul {
    list-style: none;
    height: 100%;
}

.a-incluye li {
    border: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 25%;
}

.a-incluye li:nth-child(odd) {
    background-color: #c7c2c2;
}

.a-incluye li:nth-child(even) {
    background-color: #ffffff;
}

/*Ultra*/

.ultra {
    padding: 6% 5%;
    display: flex;
    flex-flow: column;
    height: 50%;
}

.titulo-precioU {
    text-align: center;
    background-color: #06DDE8;
}

.titulo-precioU h1 {
    color: white;
}

.titulo-precioU p {
    color: #01B2B1;
}

.u-incluye {
    text-align: center;
    color: grey;
    height: 100%;
}

.u-incluye ul {
    list-style: none;
    height: 100%;
}

.u-incluye li {
    border: 1px solid black;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 25%;
}

.u-incluye li:nth-child(odd) {
    background-color: #c7c2c2;
}

.u-incluye li:nth-child(even) {
    background-color: #ffffff;
}

/* Estilos Menu de ociones*/

.clientes {
    background: #292A3A;
    width: 80%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.descargas {
    flex-flow: row;
    justify-content: center;
    display: flex;
}

#descargaPdf img {
    width: 40px;
    height: 40px;
}

#copia img {
    width: 40px;
    height: 40px;
}

#anadir img {
    width: 40px;
    height: 40px;
}

/*Ver Clientes*/

.Tabla {
    display: table;
    text-align: center;
    width: 100%;
}

.Titulo {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.contenidos {
    display: table-row;
    font-weight: bold;
}

.contenidos .celda .correo {
    display: none;
}

.Row {
    display: table-row;
    /* padding-left: 5px;
    padding-right: 5px; */
}

.Celda {
    display: table-cell;
    border-width: thin;
}

.boton-checkbox {
    display: none;
}

.boton-checkbox~[class*="a-ocultar"] {
    display: none;
}

.boton-checkbox:checked~[class*="a-ocultar"] {
    display: initial;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 5%;
}

.Celda .contenidos1-correo form {
    display: flex;
    flex-flow: row;
    width: 100%;
    margin-left: 20%;
}

.Celda .contenidos1-correo form input {
    margin: 8%;
}

/*Modificar Clientes*/

.Modificar {
    background: var(--color-oscuro);
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    padding: 10px 20px;
}

.Modificar input {
    background: none;
    color: white;
    text-align: center;
    outline: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
}

.Modificar .enviar {
    grid-area: enviar;
    width: 100%;
    background-color: white;
    color: var(--color-oscuro);
}

/*Añadir clientes*/

.anadirClientes {
    background: var(--color-oscuro);
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    padding: 10px 20px;
}

.anadirClientes input {
    background: none;
    color: white;
    text-align: center;
    outline: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
}

.anadirClientes .enviar {
    grid-area: enviar;
    width: 100%;
    background-color: white;
    color: var(--color-oscuro);
}

/*Ver mensualidades*/

.mensualidades {
    background: var(--color-oscuro);
    width: 80%;
    padding-bottom: 5%;
    padding-top: 5%;
}

/* .Tabla {
    display: table;
    text-align: center;
    width: 100%;
} */

.contenidos {
    display: table-row;
    font-weight: bold;
}

.contenidos .Celda .precio {
    display: none;
}

.Row {
    display: table-row;
    /* padding-left: 5px;
    padding-right: 5px; */
}

.Celda {
    display: table-cell;
    border-width: thin;
}

.boton-checkbox {
    display: none;
}

.boton-checkbox~[class*="a-ocultar"] {
    display: none;
}

.boton-checkbox:checked~[class*="a-ocultar"] {
    display: initial;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 5%;
}

.Celda .contenidos1-precio form {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.Celda .contenidos1-precio form input {
    margin: 10%;
}

/*Gestion Mensualidades*/

.ModificarMensualidades {
    background: var(--color-oscuro);
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    padding: 10px 20px;
    text-align: center;
}

.ModificarMensualidades input {
    background: none;
    color: white;
    text-align: center;
    outline: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
}

.ModificarMensualidades .enviar {
    background-color: white;
    color: var(--color-oscuro);
    width: 100%;
}

/*Añadir Mensualidades*/

.anadirMensualidad {
    text-align: center;
    background: var(--color-oscuro);
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    padding: 10px 30px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.anadirMensualidad input {
    background: none;
    color: white;
    text-align: center;
    outline: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
}

.anadirMensualidad .enviar {
    background-color: #292A3A;
    color: white;
    width: 100%;
}

footer {
    grid-area: footer;
    background-color: #292A3A;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}