header {
    display: grid;
    grid-template-areas: "zona-logo  zona-hamburguesa   zona-botones";
    grid-template-rows: 1fr auto auto;
}

.zona-logo {
    grid-area: zona-logo;
}

.zona-logo>a>img {
    height: 20%;
    width: 20%;
}

.zona-botones {
    grid-area: zona-botones;
    height: 100%;
    width: 100%;
}

.zona-botones img {
    padding-right: 5px;
}

.zona-botones .boton-iniciar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.zona-botones .boton-registrarse {
    display: flex;
    justify-content: center;
    align-items: center;
}

.zona-hamburguesa {
    grid-area: zona-hamburguesa;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.hamburguesa-label, .hamburguesa-checkbox {
    display: none;
}


nav {
    position: static;
    align-items: center;
    line-height: 0;
    height: 100%;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-flow: row;
    margin-right: auto;
}

nav ul li {
    padding-top: 2%;
    margin-right: 5%;
}

nav ul li [class*=none] {
    display: none;
}


/*texto iniciar*/

.Bienvenidos {
    display: grid;
    grid-template-areas: "h1 h1" "metodo genius";
}

.Bienvenidos h1 {
    grid-area: h1;
    /* padding: 4%; */
    text-align: center;
    text-align: center;
    /* padding: 5%; */
}

.Bienvenidos .metodo {
    grid-area: metodo;
    /* padding-top: 1%; */
    width: 50%;
    /* height: 12%; */
    text-align: center;
    margin: auto;
}

.Bienvenidos .genius {
    grid-area: genius;
    width: 50%;
    /* height: 12%; */
    text-align: center;
    margin: auto;
}

/*Quienes Somos*/
.mapa {
    height: 600px;
    width: 90%;
}

#tagDivPanorama {
    width: 200px; 
    height: 200px; 
    top: 500px; 
    left: 200px; 
}

/*Inicion de Sesion*/

.indentificacion {
    width: 20%;
}

.indentificacion .imagen img {
    width: 100px;
}

/*Servicios*/
.servicios {
    display: grid;
    grid-template-areas: 
    "informacion    informacion     informacion     "
    "basica         avanzada        ultra";
    grid-auto-rows: auto 1fr auto;
    grid-template-columns: auto auto auto;
}

.servicios .informacion {
    grid-area: informacion;
    text-align: center;
    width: 100%;
    height: 10%;
}

.basica {
    grid-area: basica;
    /* display: flex;
    flex-flow: column; */
    height: 80%;
    width: 100%;
    /* padding-left: 10%; */
    padding: 5%;
}

.avanzada {
    grid-area: avanzada;
    padding:5%;
    display: flex;
    flex-flow: column;
    height: 80%;
    width: 100%;

}

.ultra {
    grid-area: ultra;
    padding: 5%;
    height: 80%;
    width: 90%;
}

.menu {
    width: 90%;
    display: grid;
    grid-template-areas: 
    "Titulo     Titulo        Titulo"
    "buscador   menuOpciones clientesInactivos"
    "divTable   divTable     divTable" ;
    grid-template-columns: 40% 50% auto;
}

.Titulo {
    grid-area: Titulo;
}
.clientesAntiguos {
    grid-area: clientesInactivos;
 
    width: 100%;
    margin-right: 50px;
}

.descargas {
    grid-area: menuOpciones;
    justify-content: start;
    margin-left: 50px;
}

.buscador {
    grid-area: buscador;
}

.divTable {
    grid-area: divTable;
}

/* Estilos Menu de ociones*/
#descargaPdf img {
    width: 50px;
    height: 50px;
}

#descargaPdf:hover {
    border-style: outset;
}

#copia img {
    width: 50px;
    height: 50px;
}
#copia:hover {
    border-style: outset;
}

#anadir img {
    width: 50px;
    height: 50px;
}

#anadir:hover {
    border-style: outset;
}


.menu {
    justify-content: center;
}

.divTable {
    display: table;
}

.divTableCelda, .divTableCabeza {
    display: table-cell;
    width: 30%; 
}
.divTable.cliente .divTableBody .divTableCelda {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 20px; 
}

.divTable.cliente .contenidos {
    padding: 20px; 

}

.divTableCelda label {
    display: none;
}


.boton {
    display: flex;
}

/* .divTableCelda .a-ocultar .Celda {
    margin-left: 20px;
} */

/* .divTableCelda .a-ocultar .boton .editar {
    margin-right: 20px;
} */
.boton form button {
    background-color: var(--color-oscuro);
    border: 0;
    margin-right: 15px;
    margin-left: 15px;
    width: 0%;
    display: flex;
    flex-flow: column;
}

.boton form button img {
    width: 25px;
}

/*Tabla clientes*/
.boton-checkbox~[class*="a-ocultar"] {
    display: flex;
    justify-content: center;
}

.graficoAnio {
    width: 900px; 
}
.graficoMes {
    margin-top: 10px;
    width: 900px; 
}
